
@{
    ViewData["Title"] = "Searching";
}


<h4> Search the Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Searchresult">

            <div class="form-group">
                <label for="Searchph" class="control-label">Search</label>
                <input name="Searchph" id="Searchph" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
